$mdc-theme-primary: #b31839;

@import '@material/typography/mdc-typography';
@import '@material/top-app-bar/mdc-top-app-bar';
@import '@material/textfield/mdc-text-field';
@import '@material/button/mdc-button';
@import '@material/ripple/mdc-ripple';
@import '@material/checkbox/mdc-checkbox';

body {
  margin: 0;
}

.message__subheader {
  color: #616161;
}

.feedback-page {
  display: flex;
  justify-content: center;
  text-align: center;
}

.feedback-page__content {
  padding: 16px;
}

.feedback-page__options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-page__option {
  display: inline-flex;
}

.feedback-page__option-label {
  align-self: center;
}

.feedback-logo {
  width: 30px;
  height: 30px;
}

.thoughts-text-field {
  width: 100%;
}

.feedback-text-field__container {
  margin: 48px 0;
  padding: 0 24px;
}